d/
data/
data*/
data_done/
_done/
data300/

__pycache__/

Source/
OCR_Result/
OCR_Result_White/

*.pth
uniocr_ai/cert
*.db
*.pdf

memo
logs.log

*.cmd
.gitattributes

data_test
tatr2/
data_test/
ClientSample/
!ClientSample/src/